* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkgrey;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url(Kaido.jpg);
  
}

.content {
  display: flex;
  width: 80%;
  flex-direction: column-reverse;
  justify-content: space-around;
  
}

textarea {  
  display: flex;
  resize: none;
  border: none;
  padding: 8px;
  background-color: #3c3d46;
  color: white;
  outline: none;
  font-size: 24px;
  text-align: justify;

}

textarea:focus {
  border: 2px solid #57dce5;
}


 nav {
  border: 2px solid  #57dce5;
  background-color: aqua;
  


 }

 





h1 {
  text-align: center;
  margin: 1em 0;
  font-family: sans-serif;
}

.container {
  position: relative;
  padding: 15px;
  max-width: 800px;
  margin: 0 auto;
}

.gallery-wrapper {
  overflow-x: auto;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 50px;
  width: 40px;
  color: #fff;
  transition: all 600ms ease-in-out;
  background: linear-gradient(to left, transparent 0%, black 200%);
  opacity: 0.1;
  cursor: pointer;
  border: none;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.arrow-right {
  right: 0;
  left: auto;
  text-align: right;
  background: linear-gradient(to right, transparent 0%, black 200%);
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}

.item {
  width: 300px;
  height: 600px;
  flex-shrink: 0;
  transition: all 600ms ease-in-out;
  opacity: 0.5;
}

.current-item {
  opacity: 1;
}


.gallery-wrapper::-webkit-scrollbar {
  display: none;
}


.gallery-wrapper {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.cyan {
  background: cyan;
}

.deeppink {
  background: deeppink;
}

.turquoise {
  background: turquoise;
}

.darkblue {
  background: darkblue;
}

.purple {
  background: purple;
}
